@tailwind base;
  @tailwind components;
  @tailwind utilities;

  ::selection {
    background-color: #ef4444; /* Bg color */
    color: #ffffff; /* Text color */
}

/* Selection color for Firefox */
::-moz-selection {
    background-color: #ef4444;
    color: #ffffff;
}

/* Selection color for Chrome & Safari */
::-webkit-selection {
    background-color: #ef4444;
    color: #ffffff;
}

/* Top margin for landing page sections */
.mt-section {
    margin-top: 5rem;
  }

.mt-section-l {
    margin-top: 10rem;
  }

html {
    scroll-behavior: smooth;
}
